<p-card header="Programmes" subheader="Gestionnaires des programmes">
  <div class="card my-3 flex justify-content-around">
    <span class="p-input-icon-left">
      <i class="pi pi-search"></i>
      <input placeholder="Rechercher par nom" class="w-full" type="text" pInputText [(ngModel)]="value" />
    </span>
    <p-button (click)="showAddDialog()" label="Ajouter un programme" icon="pi pi-plus" ></p-button>
  </div>

  <div class="card my-3">
    <p-table [value]="stacks" styleClass="p-datatable-striped" [tableStyle]="{'min-width': '50rem'}">
        <ng-template pTemplate="header">
            <tr>
                <th>Nom du programme</th>
                <th>Duree</th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-stack>
            <tr>
                <td>{{stack.name}}</td>
                <td>{{stack.duration}}</td>
                <td>
                  <p-button icon="pi pi-pencil" styleClass="p-button-success mx-1" (click)="showEditDialog(stack.id)"></p-button>
                  <p-button icon="pi pi-trash" styleClass="p-button-danger mx-1" (click)="deleteById(stack.id)"></p-button>
                </td>
            </tr>
        </ng-template>
    </p-table>
  </div>

  <div class="card flex justify-content-center gap-2">
    <p-toast></p-toast>
    <p-confirmDialog [style]="{width: '50vw'}"></p-confirmDialog>
  </div>

  <!-- Modal pour modifier un programme -->
  <p-dialog header="Header" [blockScroll]="true" [(visible)]="editModalVisible" position="center" [closable]="false" *ngIf="selectedStack">
    <ng-template pTemplate="header">
        <span class="text-xl font-bold">Modification du programme</span>
    </ng-template>
    <div class="edit-stack">
      <table>
        <tr>
          <td><label class="mx-2 block" for="name">Nom:</label></td>
          <td><input [value]="selectedStack.name" class="mx-2" type="text" id="name" pInputText /></td>
        </tr>
        <tr>
          <td><label class="mx-2 block" for="duration">Duree:</label></td>
          <td><input [value]="selectedStack.duration" class="mx-2" type="number" id="duration" pInputText /></td>
        </tr>
      </table>
    </div>
    <ng-template pTemplate="footer">
        <p-button icon="pi pi-save" (click)="editModalVisible = false" label="Enregistrer" styleClass="p-button-success"></p-button>
        <p-button icon="pi pi-history" (click)="editModalVisible = false" label="Annuler" styleClass="p-button-danger"></p-button>
    </ng-template>
  </p-dialog>

  <!-- Modal pour ajouter un programme -->
  <p-dialog header="Header" [blockScroll]="true" [(visible)]="addModalVisible" position="center" [closable]="false" >
    <ng-template pTemplate="header">
        <span class="text-xl font-bold">Ajouter un programme</span>
    </ng-template>
    <div class="edit-stack">
      <table>
        <tr>
          <td><label class="mx-2 block" for="name">Nom:</label></td>
          <td><input  class="mx-2" type="text" id="name" pInputText /></td>
        </tr>
        <tr>
          <td><label class="mx-2 block" for="duration">Duree:</label></td>
          <td><input class="mx-2" type="number" id="duration" pInputText /></td>
        </tr>
      </table>
    </div>
    <ng-template pTemplate="footer">
        <p-button icon="pi pi-save" (click)="addModalVisible = false" label="Enregistrer" styleClass="p-button-success"></p-button>
        <p-button icon="pi pi-history" (click)="addModalVisible = false" label="Annuler" styleClass="p-button-danger"></p-button>
    </ng-template>
  </p-dialog>


