

  <div class="grid  surface-card  shadow-2">
    <div class="col-3  p-0" style="background-color: #3c4b64; color:#e7e9ec; height: 99vh;">
    <h2 class="p-3" style="background-color: #303c54;">Logo</h2>
    <div class="tab ">
      <i class="pi pi-user mr-3" ></i>
      <p>Dashboard</p>
    </div>
    <h3 class="p-3">Gestions</h3>
    <div class="tab ">
      <i class="pi pi-users mr-3" ></i>
      <p>Etudiants</p>
    </div>
    <div class="tab ">
      <i class="pi pi-users mr-3" ></i>
      <p>Professeurs</p>
    </div>
    <div class="tab ">
      <i class="pi pi-book mr-3" ></i>
      <p>Programmes</p>
    </div>
    <div class="tab ">
      <i class="pi pi-bars mr-3" ></i>
      <p>Groupes</p>
    </div>
    <div class="tab ">
      <i class="pi pi-home mr-3" ></i>
      <p>Campus</p>
    </div>
    </div>
    <div class="col-9">

        <p-card header="Etudiants" subheader="Gestionnaires d'etudiants">
          <app-user-list></app-user-list>
        </p-card>

    </div>
</div>

